控制LED(美化按鍵)-範例.json
[{"id":"22288095.b148d","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"55a000b.12ba7","type":"mqtt in","z":"22288095.b148d","name":"","topic":"esp32/onoff","qos":"0","datatype":"auto","broker":"3fce1576.25ffba","nl":false,"rap":true,"rh":0,"x":90,"y":80,"wires":[["eb5df000.a101e","84d14d30.2e6cd"]]},{"id":"a7a5167.24344e8","type":"ui_switch","z":"22288095.b148d","name":"","label":"switch","tooltip":"","group":"83e10d28.ecd8a","order":1,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"a","onvalueType":"str","onicon":"","oncolor":"","offvalue":"b","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":390,"y":260,"wires":[["47dfb84c.f532b8","90296079.fd8a1"]]},{"id":"eb5df000.a101e","type":"switch","z":"22288095.b148d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"a","vt":"str"},{"t":"eq","v":"b","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":110,"y":140,"wires":[["139f1cf0.6e7f73","c5389f33.db7d1"],["139f1cf0.6e7f73","c5389f33.db7d1"],["a7a5167.24344e8","4881f73b.d54298"],["a7a5167.24344e8","4881f73b.d54298"]]},{"id":"139f1cf0.6e7f73","type":"debug","z":"22288095.b148d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"20af5bec.8d86a4","type":"mqtt out","z":"22288095.b148d","name":"","topic":"linebot/onoff","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3fce1576.25ffba","x":670,"y":200,"wires":[]},{"id":"142ce839.3e9bb8","type":"ui_template","z":"22288095.b148d","group":"83e10d28.ecd8a","name":"Button CSS","order":14,"width":0,"height":0,"format":"<style id=\"dashboard-style-override\">\n    /*icon size for buttons*/\n    .nr-dashboard-button .md-button i {\n        font-size: 60px;\n\t\ttext-shadow:\n\t\t-1px -1px 1px #444444,\n\t\t1px -1px 1px #444444,\n\t\t-1px 1px 1px #444444,\n\t\t1px 1px 1px #444444,\n\t\t0px 0px 10px #888888;\n    }\n    /* round button */\n    .nr-dashboard-button .md-button {\n        border-radius:50%;\n        border-style:solid;\n        border-width: 3px;\n        border-color: #888888;\n        left: 25px;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":90,"y":200,"wires":[[]]},{"id":"c5389f33.db7d1","type":"ui_button","z":"22288095.b148d","name":"Button 1","group":"83e10d28.ecd8a","order":3,"width":3,"height":3,"passthru":false,"label":"","tooltip":"","color":"{{foreground}}","bgcolor":"#eeeeee","className":"","icon":"fa-power-off","payload":"toggle","payloadType":"str","topic":"","topicType":"str","x":400,"y":80,"wires":[["84d14d30.2e6cd"]]},{"id":"84d14d30.2e6cd","type":"function","z":"22288095.b148d","name":"","func":"state = flow.get ('state1');\nif (msg.payload != state)\n{\n    if (state === \"1\")\n    {\n        msg.payload = \"0\";\n        msg.foreground = \"#ff3300\";\n    }\n    else\n    {\n        msg.payload = \"1\";\n        msg.foreground = \"#33ee00\";\n    }\n    flow.set('state1', msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[["20af5bec.8d86a4","bd04dbad.3ff938","c5389f33.db7d1","91d14d43.0fba7"]]},{"id":"b1a28026.bcb0c","type":"ui_text","z":"22288095.b148d","group":"83e10d28.ecd8a","order":7,"width":0,"height":0,"name":"","label":"LED is","format":"{{msg.payload}}","layout":"row-left","className":"","x":670,"y":160,"wires":[]},{"id":"bd04dbad.3ff938","type":"debug","z":"22288095.b148d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"af4ee88d.2442f8","type":"mqtt in","z":"22288095.b148d","name":"","topic":"fan/onoff","qos":"2","datatype":"auto","broker":"3fce1576.25ffba","nl":false,"rap":true,"rh":0,"x":80,"y":40,"wires":[["eb5df000.a101e"]]},{"id":"47dfb84c.f532b8","type":"debug","z":"22288095.b148d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":320,"wires":[]},{"id":"90296079.fd8a1","type":"mqtt out","z":"22288095.b148d","name":"","topic":"fan_out/onoff","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3fce1576.25ffba","x":670,"y":280,"wires":[]},{"id":"c3bc2d2e.4184e","type":"function","z":"22288095.b148d","name":"","func":"state = flow.get ('state2');\nif (msg.payload != state)\n{\n    if (state === \"a\")\n    {\n        msg.payload = \"b\";\n        msg.foreground = \"#ff3300\";\n    }\n    else\n    {\n        msg.payload = \"a\";\n        msg.foreground = \"#33ee00\";\n    }\n    flow.set('state2', msg.payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":420,"wires":[["4881f73b.d54298","402ad217.da294c","90296079.fd8a1"]]},{"id":"4881f73b.d54298","type":"ui_button","z":"22288095.b148d","name":"Button 2","group":"83e10d28.ecd8a","order":8,"width":3,"height":3,"passthru":false,"label":"","tooltip":"","color":"{{foreground}}","bgcolor":"#eeeeee","className":"","icon":"fa-power-off","payload":"toggle","payloadType":"str","topic":"","topicType":"str","x":380,"y":340,"wires":[["c3bc2d2e.4184e"]]},{"id":"148828c3.708957","type":"debug","z":"22288095.b148d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":420,"wires":[]},{"id":"b2b89d2d.a6b63","type":"ui_text","z":"22288095.b148d","group":"83e10d28.ecd8a","order":12,"width":0,"height":0,"name":"","label":"FAN is","format":"{{msg.payload}}","layout":"row-left","className":"","x":670,"y":460,"wires":[]},{"id":"402ad217.da294c","type":"function","z":"22288095.b148d","name":"","func":"var s2=msg.payload;\nif (s2===\"a\"){\n    msg.payload=\"ON\";\n}\nelse if (s2===\"b\"){\n    msg.payload=\"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":420,"wires":[["b2b89d2d.a6b63","148828c3.708957"]]},{"id":"91d14d43.0fba7","type":"function","z":"22288095.b148d","name":"","func":"s1=msg.payload;\nif (s1==\"1\"){\n    msg.payload=\"ON\";\n}else if (s1==\"0\"){\n    msg.payload=\"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":160,"wires":[["b1a28026.bcb0c"]]},{"id":"3fce1576.25ffba","type":"mqtt-broker","name":"","broker":"192.168.184.155","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"83e10d28.ecd8a","type":"ui_group","name":"SW","tab":"be0a13d6.9b306","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"be0a13d6.9b306","type":"ui_tab","name":"home_sweet","icon":"dashboard","disabled":false,"hidden":false}]